<!DOCTYPE html>
<html lang="pl" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Jdynowski</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <header>
        <ul class="categories center alignCenter inlineUl">
            <li>
                <a href="#!calculator">Kalkulator</a>
            </li>
            <li>
                <a href="#!interesting">Ciekawostki o mnie</a>
            </li>
            <li>
                <a href="#!films">Filmy</a>
            </li>
            <li ng-controller="AuthenticationController as autController" ng-show="authenticated">
                <a href="" ng-click="autController.logout()">Wyloguj</a>
            </li>
        </ul>
    </header>
    <div ng-view></div>

    <script type="application/javascript" src="bower_components/angular/angular.js"></script>
    <script type="application/javascript" src="bower_components/angular-route/angular-route.js"></script>
    <script type="application/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
    <script type="application/javascript" src="app/controller_1.js"></script>
</body>
</html>