<div ng-show="authenticated">
    <h1>Dodaj nowy film:</h1>
    <form>
        <input type = "text" placeholder="Title" ng-model="newCtrl.film.title"><br />
        <input type = "text" placeholder="Type" ng-model="newCtrl.film.type"><br />
        <input type = "text" placeholder="Description" ng-model="newCtrl.film.description"><br />
        <button ng-click="newCtrl.addFilm()">Dodaj film</button>
    </form>
</div>
<div ng-show="!authenticated">
    <h1>Musisz się zalogować, aby dodać film</h1>
    <a href="#!login">Zaloguj</a>
</div>
