<link rel="stylesheet" href="../css/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<div class="image calcBoy"></div>
<div class="calculator">
    <input type="text" ng-model="calc.output" maxlength="10" style="text-align: right">
    <p>{{calc.currentNumber}}</p>
    <div class="contentCalc">
        <button ng-click="calc.UpdateOutput(7)" class="number">7</button>
        <button ng-click="calc.UpdateOutput(8)" class="number">8</button>
        <button ng-click="calc.UpdateOutput(9)" class="number">9</button>
        <button ng-click="calc.clear()" class="funcButton2">clc</button>
    </div>
    <div class="contentCalc">
        <button ng-click="calc.UpdateOutput(4)" class="number">4</button>
        <button ng-click="calc.UpdateOutput(5)" class="number">5</button>
        <button ng-click="calc.UpdateOutput(6)" class="number">6</button>
        <button ng-click="calc.add()" class="funcButton">+</button>
        <button ng-click="calc.multiple()" class="funcButton">*</button>
    </div>
    <div class="contentCalc">
        <button ng-click="calc.UpdateOutput(1)" class="number">1</button>
        <button ng-click="calc.UpdateOutput(2)" class="number">2</button>
        <button ng-click="calc.UpdateOutput(3)" class="number">3</button>
        <button ng-click="calc.subtract()" class="funcButton">-</button>
        <button ng-click="calc.division()" class="funcButton">/</button>
    </div>
    <div class="contentCalc">
        <button ng-click="calc.UpdateOutput(0)" class="number">0</button>
        <button ng-click="calc.wynik()" class="funcButton2">=</button>
    </div>
</div>
