<h1>Witaj w kategorii filmy</h1>
<a href="#!add">Dodaj nowy film</a><br>
<ul >
    <li ng-repeat="film in listCtrl.films">
        <a ng-href="#!details/{{film.id}}"> {{film.id}} {{film.title}}  {{film.type}}  {{film.description}}</a>
    </li>
</ul>
<br>
<button ng-click="listCtrl.delete()">Usuń filmy</button>