<div ng-show="!authenticated">
    <h1>Zaloguj się</h1>
    <form>
        <input type="text" placeholder="Username" ng-model="autController.credentials.username"><br>
        <input type="password" placeholder="Password" ng-model="autController.credentials.password"><br>
        <button ng-click="autController.login()">Zaloguj</button>
    </form>
</div>


