body{
    font-family: 'PT Sans', sans-serif; /*zmiana czcionki na rajdhani*/
    margin:0;
    text-align: center;
}
.center{
    max-width:1150px; /**/
    width:96%;
    padding:0 2%;
    margin:0 auto;
}

/*Mezczyzna w tle*/

/*Koniec mezczyzny w tle*/



/*Zawartosc kalkulatora*/
.calculator {
    margin: auto;
    width: fit-content;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #808080;
    padding: 15px 10px;
    border: 5px solid #4d4b4d;
}

.calculator .contentCalc{
    display: flex;
}

.calculator .contentCalc button{
    margin: 2px;
}

.calculator .contentCalc button:hover{
    border-color: red;
}

.calculator .contentCalc button:focus{
    outline:0;
}

.calculator .contentCalc .number{
    background-color: #666666;
    color: white;
}

.calculator .funcButton2{
    width: 100%;
}

.calculator .funcButton{
    width: 50%;
}
/*Koniec zawartosci kalkulatora*/


.alignCenter{ text-align:center;}
ul{
    padding:0;
    margin:0;
}
ul.inlineUl li{
    display:inline-block;
}
a{
    text-decoration:none;
}
body > header ul.categories li a{
    font:700 15px "PT Sans";
    display:inline-block;
    padding:11px 14px;
    color:#3a2800;
}